html {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 140%;
  background-color: goldenrod;
  margin: 0;
}

.grid6 .grid6 {
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 6px;
}

h2 {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 3px;
}

#content {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 10px 0px;
  background: white;
}

#leftColumn {
  /*height: 485px;*/
}

#leftColumn #slideshow {
  height: 485px;
  background: gray;
}

#logo {
  width: 450px;
  margin-bottom: 25px;
}

#locationAndContact {
  margin-bottom: 25px;
}

#contact {
  position: relative;
  left: -40px;
}

#banner {
  background-color: pink;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}

#weeklyMenu {
  margin-top: 20px;
}

#weeklyMenu .price {
  font-style: italic;
}

#weeklyMenuHeader {
  margin-bottom: 20px;
}

#weeklyMenu .menuSection {
  margin-bottom: 20px;
}

#weeklyMenu .menuSection dl {
  padding: 5px;
  background: #DCF1F9;
}

#weeklyMenu h2, #weeklyMenu h1 {
  margin-top: 10px;
  margin: 5px;
}

#weeklyMenu dt {
  font-weight: bold;
}

#weeklyMenu dd {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 10px;
}


#hours table td {
  padding: 0 14px 7px 0;
}
